/* GENERAL */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body
{
    font-family: Raleway, Arial, sans-serif;
}
header, section
{
    padding-left: 30px;
    padding-right: 30px;
}

/* HEADER */

#menu_header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo
{
    width: 120px;
    height: 50px;
}
#menu
{
    width: 20%;  
}
#liens
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 90px;
    padding: 0;
}
.lien
{
    color: black;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}
.lien:hover
{
    color: #0065FC;
    border-top: #0065FC solid 2px;
    padding-top: 38px;
}

/* SECTION RECHERCHE */

h1
{
    font-weight: bold;
}
#recherche
{
    display: flex;
    width: 30%;
    height: 50px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
#logo_recherche
{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items:  center;
    width: 15%;
    border-radius: 10px 0 0 10px;
}
input
{
    color: black;
    font-weight: bold;
    padding-left: 5%;
    border: none;
    width: 50%;
}
#bouton_recherche
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    background-color: #0065fc;
    font-weight: bold;
}
#bouton_recherche i
{
    display: none;
}
#bouton_recherche .texte
{
    display: inline-block;
}
#bouton_recherche:hover                                 
{
    color: #0065fc;
    background-color: #f2f2f2;
}
#filtres
{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.test
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#titre_filtres
{
    margin-right: 1%;
    font-weight: bold;
    margin-bottom: 10px;
}
.filtre
{
    display: flex;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 9px;
    margin-right: 1%;
}
.filtre:hover > .nom_filtre
{
    color: #0065fc;
}
.filtre:hover > .icone_filtre
{
    color: white;
    border-color: #0065fc;
}
.icone_filtre
{
    border: 1px solid #deebff;
    margin: -2px;
    padding: 12px;
    border-radius: 100%;
    color: #0065fc;
    background-color: #deebff;
}
.nom_filtre
{
    margin: 10px;
}
#information
{
    display: flex;
    align-items: center;
    margin: 15px 0 20px 0;
}
#icone_information
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    color: #0065fc;
    border-radius: 25px;
    margin-right: 5px;
}

/* SECTION HEBERGEMENTS */

#section_hebergements
{
    display: flex;
}
#hebergements
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    flex: 2;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #f2f2f2; 
}
#titre_hebergements
{
    margin-left: 5%;
    margin-bottom: -10px;
}
.colonne_hebergements
{
    display: flex;
}
.presentation_hebergement
{
    width: 30%;
    height: 230px;
    background-color: white;
    border-radius: 20px;
    display: block;
    margin: 0px auto; 
}
.presentation_hebergement:hover
{
    cursor: pointer;
    transform: scale(1.1);
}
.image_hebergement
{
    height: 130px;
    position: relative;
    overflow: hidden;
    margin: 5px 5px 0px 5px;
    border-radius: 15px 15px 0 0;
}
.image_hebergement img
{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.information_hebergement
{
    margin-left: 5%;
} 
.information_hebergement h3
{
    margin-top: 10px;
    margin-bottom: -5px;
    white-space: nowrap;
    overflow: hidden;
}
.information_hebergement p
{
    margin-bottom: 10px;  
}
.etoile_bleu
{
    color: #0065fc;
}
.etoile_grise
{
    color: #f2f2f2;
}
#afficher_plus
{
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-left: 15px;
    margin-bottom: 10px;
}
#afficher_plus:hover
{
   color: #0065FC;   
}
.gras
{
    font-weight: bold;
}


/* SECTION POPULAIRES */

#populaires
{
    flex: 1;
    margin-left: 1%;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #f2f2f2;
}
#titre_populaire
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-left: 1%;
    margin-top: 15px;
}
#hebergements_populaires
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.presentation_hebergement_populaire
{
    background-color: white;
    margin-bottom: 22px;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
    display: flex;    
}
.presentation_hebergement_populaire:hover
{
    cursor: pointer;
    transform: scale(1.05);
}
.image_populaire
{
    height: 160px;
    width: 160px;
    position: relative;
    overflow: hidden;
    border-radius: 15px 0 0 15px;    
}
.image_populaire img
{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.information_hebergement_populaire
{
    width: 70%;
    padding-left: 5%;
}
.information_hebergement_populaire p
{
    margin-bottom: 40px;
}

/* SECTION ACTIVITES */

#activites
{
    margin-top: 50px;
}
#activites img
{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
#presentation_activites_bloc_type_1
{    
    display: flex;
    align-items: center;
}
.presentation_activites_bloc_type_2
{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activite_portrait
{
    width: 50%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 10px 5px 10px;    
}
.activite_portrait:hover
{
    cursor: pointer;
    transform: scale(1.03);
}
.activite_paysage
{
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 10px 5px 10px;
}
.activite_paysage:hover
{
    cursor: pointer;
    transform: scale(1.03);
}
.image_activite_grande
{
    height: 530px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;    
}
.image_activite_moyenne
{
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
.image_activite_petite
{
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
.image_activite_moyenne_2
{
    width: 100%;
    height: 210px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
.titre_activite
{
    padding-left: 5%;
    width: 95%;
}

/* SECTION FOOTER */

footer
{
    height: 300px;
    margin-top: 100px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#footer_part_1
{
    height: 200px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
#footer_part_2
{
    height: 200px;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
}
#footer_part_3
{
    height: 200px;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
}
.lien_footer
{
    height: 30px;
    color: black;
    text-decoration: none;
}

/* RESPONSIVITE */

@media screen and (max-width: 768px)
{

/* HEADER */

header
{
    padding: 0;
}

#menu_header
{
    flex-direction: column;
}
#menu
{
    width: 100%;
}
#liens
{
    justify-content: space-around;
}
.lien
{
    padding-left: 55px;
    padding-right: 55px;
    border-bottom: #f2f2f2 solid 3px;
    padding-bottom: 15px;
}
.lien:hover
{
    border-bottom: #0065FC solid 3px;
    border-top: none;
}

/* SECTION RECHERCHE */

#recherche
{
    width: 100%;   
}
#bouton_recherche i
{
    display: inline-block;
}
#bouton_recherche .texte
{
    display: none;
}
#bouton_recherche
{
    width: 15%;
    border-radius: 10px
}
input
{
    width: 70%;
}
#filtres
{
    display: block;
}

/* SECTION HEBERGEMENTS */

#section_hebergements
{
    flex-direction: column-reverse;
}
#titre_hebergements
{
    margin-bottom: 10px;
}
#hebergements
{
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}
.colonne_hebergements
{
    display: block;
}
.presentation_hebergement
{
    width: 90%;
    box-shadow: 5px 5px 5px 5px #f2f2f2;
    margin-bottom: 15px;
    margin-top: 15px;
}
#afficher_plus
{
    margin-top: 10px;
}

/* SECTION POPULAIRES */

.presentation_hebergement_populaire
{
    margin-left: 1%;
    margin-right: 1%;
}
.image_populaire
{
    height: auto;
}

/* SECTION ACTIVITES */

#presentation_activites_bloc_type_1
{
    flex-wrap: wrap;
    justify-content: center;
}


}