/* GENERAL */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body
{
    font-family: Raleway, Arial, sans-serif;
}
header, section
{
    padding-left: 25px;
    padding-right: 25px;
}

/* HEADER */

header
{
    height: 100px;
}
#menu_header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo
{
    width: 120px;
    height: 50px;
}
#menu
{
    margin-left: 60%;
}
#liens
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    list-style: none;
    text-decoration: none;
    width: 140px;
    height: 90px;
}
.lien
{
    color: black;
    text-decoration: none;
}
.lien:hover
{
    color: #0065FC;
    border-top: #0065FC solid 2px;
    padding-top: 38px;
}
#lien_header_hebergements
{
    margin-right: 70px;
}

/* SECTION RECHERCHE */

h1
{
    font-weight: bold;
}
#slogan
{
    margin: -15px 0 20px 0;
}
#logo_recherche
{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items:  center;
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
#recherche
{
    display: flex;
    align-items:  center;
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
input
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding-left: 20px;
    border: none;
}
#bouton_recherche
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    background-color: #0065fc;
    font-weight: bold;
}
#bouton_recherche:hover                                 
{
    color: #0065fc;
    background-color: f2f2f2;
}
#filtres
{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
#titre_filtres
{
    margin-right: 20px;
    font-weight: bold;
}
.filtre
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filtre:hover > .nom_filtre
{
    color: #0065fc;
}
.filtre:hover > .icone_filtre
{
    color: white;
    border-color: #0065fc;
}
.icone_filtre
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2px;
    border-radius: 25px;
    height: 52px;
    width: 52px;
    color: #0065fc;
    background-color: #deebff;
}
.nom_filtre
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 0 25px 25px 0;
    font-weight: bold;
}
#information
{
    display: flex;
    align-items: center;
    margin: 15px 0 20px 0;
}
#icone_information
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    color: #0065fc;
    border-radius: 25px;
    margin-right: 5px;
}

/* SECTION HEBERGEMENTS */

#section_hebergements
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#hebergements
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
    
}
#titre_hebergements
{
    margin-left: 15px;
    margin-bottom: -10px;
}
.colonne_hebergements
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.presentation_hebergement
{
    width: 30%;
    height: 230px;
    background-color: white;
    border-radius: 20px;
    display: block;
    margin: 0px auto;
}
.presentation_hebergement:hover
{
    cursor: pointer;
    transform: scale(1.1);
}
.image_hebergement
{
    height: 130px;
    position: relative;
    overflow: hidden;
    margin: 5px 5px 0px 5px;
    border-radius: 15px 15px 0 0;
}
.image_hebergement img
{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.information_hebergement
{
    margin-left: 5%;  
    line-height: 12px; 
}
.etoile_bleu
{
    color: #0065fc;
}
.etoile_grise
{
    color: #f2f2f2;
}
#afficher_plus
{
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-left: 15px;
    margin-bottom: 10px;
}
#afficher_plus:hover
{
   color: #0065FC;   
}

/* SECTION POPULAIRES */

#populaires
{
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2f2f2;
}
#titre_populaire
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-left: 10px;
}
#hebergements_populaires
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.presentation_hebergement_populaire
{
    background-color: white;
    margin-bottom: 22px;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
    display: flex;
    align-items: center;    
}
.presentation_hebergement_populaire:hover
{
    cursor: pointer;
    transform: scale(1.05);
}
.image_populaire
{
    height: 160px;
    width: 160px;
    position: relative;
    overflow: hidden;
    margin: 5p 5px 0px 5px;
    border-radius: 15px 0 0 15px;    
}
.image_populaire img
{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.information_hebergement_populaire
{
    width: 270px;
    padding-left: 5%;
}

/* SECTION ACTIVITES */

#activites
{
    margin-top: 50px;
    margin-bottom: 50px;
}
#presentation_activites_bloc_type_1
{    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.presentation_activites_bloc_type_2
{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activite_portrait
{
    width: 400px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px 5px 10px;    
}
.activite_portrait:hover
{
    cursor: pointer;
    transform: scale(1.03);
}
.activite_paysage
{
    width: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 10px 5px 10px;
}
.activite_paysage:hover
{
    cursor: pointer;
    transform: scale(1.03);
}
.image_activite_grande
{
    width: 100%;
    height: 530px;
    position: relative;
    overflow: hidden;
    border-radius: 15px 15px 0 0;    
}
.image_activite_grande img
{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.image_activite_moyenne
{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
.image_activite_moyenne img
{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.image_activite_petite
{
    width: 100%;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
.image_activite_petite img
{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.image_activite_moyenne_2
{
    width: 100%;
    height: 210px;
    position: relative;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
.image_activite_moyenne_2 img
{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.titre_activite
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}

/* SECTION FOOTER */

footer
{
    height: 300px;
    margin-top: 100px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#footer_part_1
{
    height: 200px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
#footer_part_2
{
    height: 200px;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
}
#footer_part_3
{
    height: 200px;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
}
.lien_footer
{
    height: 30px;
    color: black;
    text-decoration: none;
}