/* Eléments principaux de la page */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body
{
    font-family: Raleway, Arial, sans-serif;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

#logo
{
    width: 120px;
    height: 50px;
}
nav
{
    margin-left: 60%;
   
}
ul
{   display: flex;
    justify-content: center;
    align-items:  center;
    list-style: none;
}
li
{
    margin-left: 27%;
}
.link 
{
    color: black;
    text-decoration: none;
}
.link:hover
{
    color: #0065fc;
}
#inscription
{
    width: 140px;
    hight: 99px;
    color: #0065fc;
    font-weight: bold;

}
h1
{
    font-weight: bold;
}
#logo_recherche
{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items:  center;
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;

}
#recherche
{
    display: flex;
    align-items:  center;
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
input
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding-left: 20px;
    border: none;

}
#bouton_recherche
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    background-color: #0065fc;
    font-weight: bold;

}
#bouton_recherche:hover                                 
{
    color: #0065fc;
    background-color: f2f2f2;
}
#filtres
{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
#titre_filtres
{
    margin-right: 20px;
    font-weight: bold;
}
.filtre
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;

}
.filtre:hover > .nom_filtre
{
    color: #0065fc;
}
.filtre:hover > .icone_filtre
{
    color: white;
    border-color: #0065fc;
}
.icone_filtre
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2px;
    border-radius: 25px;
    height: 52px;
    width: 52px;
    color: #0065fc;
    background-color: #deebff;
}
.nom_filtre
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 0 25px 25px 0;
    font-weight: bold;

}
#information
{
    display: flex;
    align-items: center;
}
#icone_information
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    color: #0065fc;
    border-radius: 25px;
    margin-right: 5px;
}
#section_hebergements
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#hebergements
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
}
#colonne1_hebergements
{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#colonne2_hebergements
{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.presentation_hebergement
{
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.presentation_hebergement:hover
{
    cursor: pointer;
    transform: scale(1.1);
}
#image_hebergement1
{
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
#image_hebergement2
{
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
#image_hebergement3
{
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
#image_hebergement4
{
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
#image_hebergement5
{
    background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
#image_hebergement6
{
    background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.information_hebergement
{
    width: 90%;
}
.etoile_bleu
{
    color: #0065fc;
}
.etoile_grise
{
    color: #f2f2f2;
}
#afficher_plus
{
    font-weight: bold;
}
#populaires
{
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2f2f2;
}
#titre_populaire
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
#hebergements_populaires
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.presentation_hebergement_populaire
{
    margin-bottom: 22px;
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.presentation_hebergement_populaire:hover
{
    cursor: pointer;
    transform: scale(1.05);
}

#image_populaire1
{
    background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
#image_populaire2
{
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
#image_populaire3
{
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.information_hebergement_populaire
{
    width: 60%;
    padding-left: 5%;
}
#activites
{
    margin-top: 50px;
    margin-bottom: 50px;
}
#presentation_activites_bloc_type_1
{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.presentation_activites_bloc_type_2
{
    width: 23%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activite_portrait
{
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activite_portrait:hover
{
    cursor: pointer;
    transform: scale(1.03);
}
.activite_paysage
{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.activite_paysage:hover
{
    cursor: pointer;
    transform: scale(1.03);
}
#image_activite1
{
    background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
#image_activite2
{
    background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}
#image_activite3
{
    background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}
#image_activite4
{
    background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
#image_activite5
{
    background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
#image_activite6
{
    background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.titre_activite
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}
footer
{
    height: 300px;
    margin-top: 100px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer_part_1
{
    height: 150px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
#footer_part_2
{
    height: 150px;
    display: flex;
    flex-direction: column;
}
#footer_part_3
{
    height: 150px;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}
.lien_footer
{
    height: 30px;
    color: black;
    text-decoration: none;
}